<div class="container">
    <div class="row custom-section d-flex align-items-center">
        <div class="col-12 col-lg-4">
            <h2>Cupid Pie</h2>
            <h3 style="color: #f37121;">Find Yours</h3>

            <a href="#">Learn more</a>
        </div>
        <div class="col-12 col-lg-8">
            <img src="../public/assets/naruto-hinata.png" alt="Team process banner">
        </div>


    </div>
</div>