{{!-- <a href="/auth/facebook">
    <button class="btn btn-primary">Login with Facebook</button>
</a> --}}
<style>
    .row {
        background-color: #fff;

    }

    .btn1 {
        border: none;
        outline: none;
        height: 50px;
        width: 100%;
        background-color: black;
        color: #fff;
        font-weight: bold;
        border-radius: 4px;
    }

    .btn1:hover {
        background-color: #0062cc;
    }

        {
            {
             !-- f37121 --
        }
    }
</style>
<section class="Form">
    <div class="row no-gutters">
        <div class="col-lg-5">
            <img src="../public/assets/Y0Y0.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-7 px-5 pt-5" style="background-color: #ee8f54;">
            <h1 class="font-weight-bold py-3">Welcome</h1>
            <p>Sign In to your account</p>
            <form action="">
                <div class="form-row">
                    <div class="col-lg-7">
                        <input type="email" name="" placeholder="Email" class="form-control p-2 my-2" id="">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-lg-7">
                        <input type="password" name="" placeholder="Password" class="form-control p-2 my-3" id="">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-lg-7">
                        <button type="button" class="btn1 mt-2 mb-4">SignIn</button>
                    </div>
                </div>

                <p>do'nt have an account? <a href="#" class="text-primary">Resister</a></p>
                <hr>
                <div class="col-lg-7">
                    <p class="ml-5 font-weight-bold">OR</p>
                </div>
                <div class="form-row">
                    <div class="col-lg-7">

                        <a href="/auth/facebook">
                            <button type="button" class="btn1 bg-primary mt-2 mb-4">SignIn With Facebook</button>
                        </a>
                    </div>
                </div>

        </div>
        </form>
    </div>
    </div>

</section>